.container {
  @apply grid-cols-1 md:grid-cols-[23%_48%_25%] md:grid-rows-[fit_fit_1fr];
  @apply px-2 gap-2 content-between justify-between md:px-[2%] lg:gap-0;
  display: grid;
  min-height: 100vh;

  main {
    @apply shadow bg-stone-50 rounded my-4;
    @apply flex justify-center md:col-start-2 md:col-end-3 md:row-span-3;

    section {
      @apply w-[95%] grid justify-items-stretch gap-4 py-4;
    }
  }
}

.headerTitle {
  @apply md:col-start-2 md:col-end-4 md:row-span-1;
  @apply px-4 py-2 md:px-6 md:py-4;
  @apply shadow-[0_-2px_3px_0_rgb(0,0,0,0.1),0_-2px_2px_-1px_rgb(0,0,0,0.1)] bg-stone-50;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  button {
    @apply flex items-center gap-2 px-2 py-1 w-fit;
    @apply shadow-md rounded-lg border-teal-500;
    @apply absolute top-2 right-4;
    animation: ShineBtn 4s infinite ease-out;
    background-image: linear-gradient(
      to top right, #99f6e4 15%, #ccfbf1, #99f6e4 15%, #f0fdfa
      );
    font-size: calc(0.5rem + 1vw);

    svg {
      font-size: calc(1rem + 1vw);
    }

    &:hover, &:active {
      @apply saturate-150 brightness-125;
    }

    &:active {
      transform: scale(0.985);
    }
  }

  .loginBtn {
    @apply flex items-center gap-2 px-2 py-1 w-fit;
    @apply shadow rounded-lg border-teal-500;
    @apply absolute top-2 right-4;
    animation: ShineSpan 4s infinite ease-out;
    background-image: linear-gradient(
      to top right, #f0fdfa, #99f6e4 5%, #ccfbf1, #99f6e4 5%
      );
    font-size: calc(0.5rem + 1vw);

    svg {
      font-size: calc(1rem + 1vw);
    }
  }

  h1.title {
    margin: 0;
    margin-bottom: 0.5rem;
    position: relative;
    width: fit-content;

    span {
      @apply bg-slate-50 p-2 text-center top-1/2 opacity-0;
      @apply shadow-md rounded-bl-full rounded-tr-full rounded-br-full p-4;
      transform: scale(0.1);
      font-size: calc(0.5rem + 1vw);
      position: absolute;
      transition: opacity 0.5s ease, transform 0.15s ease;
      
      b {
        @apply italic;
      }
    }

    &:hover span, &:focus span, &:active span {
      @apply opacity-100 w-max;
      transform: skewX(15deg) scale(1);
    }
  }
}

.headerNav {
  @apply md:col-start-2 md:col-end-4 md:row-span-2;
  @apply p-4 -mt-2 md:p-8 sticky top-0;
  @apply shadow-[0_2px_3px_0_rgb(0,0,0,0.1),0_2px_2px_-1px_rgb(0,0,0,0.1)] bg-stone-50 rounded;
  @apply overflow-x-auto will-change-scroll py-2;
  display: flex;
  flex: 1;
  gap: 1rem;
  z-index: 1;

  &::-webkit-scrollbar {
    @apply rounded-full h-2;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-stone-200 rounded-full border border-solid border-stone-500;
  }
  &::-webkit-scrollbar-track {
    @apply bg-stone-300 m-1 rounded-full;
  }

  h3.card {
    @apply border border-stone-400 rounded-lg px-3 py-1 cursor-pointer;
    transition: color 0.15s ease, border-color 0.15s ease;

    &:hover, &:focus, &:active {
      @apply text-teal-900 border-teal-500;
    }
  }
}

.footer {
  @apply border-t border-stone-50 py-4 col-span-full;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
}

@keyframes ShineBtn {
  0% {
    opacity: 1;
  }
  
  75% {
    opacity: 0.3;
  }
}

@keyframes ShineSpan {
  0% {
    opacity: 0.3;
  }
  
  35% {
    opacity: 1;
  }
}

// .code {
//   background: #fafafa;
//   border-radius: 5px;
//   padding: 0.75rem;
//   font-size: 1.1rem;
//   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
//     Bitstream Vera Sans Mono, Courier New, monospace;
// }