.container {
  @apply grid-cols-1 md:grid-cols-[23%_73%];
  @apply px-6 gap-2 content-between justify-between md:px-[2%] lg:gap-0;
  display: grid;
  min-height: 100vh;
}

.main {
  @apply p-6 md:p-12 md:col-start-2;
  @apply bg-stone-200 rounded;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;

  button {
    @apply flex items-center gap-2 px-2 py-1 w-fit;
    @apply shadow-md rounded-lg border-teal-500;
    @apply absolute top-2 right-4;
    animation: ShineBtn 4s infinite linear;
    background-image: linear-gradient(
      to top right, #99f6e4 15%, #ccfbf1, #99f6e4 15%, #f0fdfa
      );
    font-size: calc(0.5rem + 1vw);

    svg {
      font-size: calc(1rem + 1vw);
    }

    &:hover, &:active {
      @apply saturate-150 brightness-125;
    }

    &:active {
      transform: scale(0.985);
    }
  }
}
.loginBtn {
  @apply flex items-center gap-2 px-2 py-1 w-fit;
  @apply shadow rounded-lg border-teal-500;
  @apply absolute top-2 right-4;
  animation: ShineSpan 4s infinite linear;
  background-image: linear-gradient(
    to top right, #f0fdfa, #99f6e4 5%, #ccfbf1, #99f6e4 5%
    );
  font-size: calc(0.5rem + 1vw);

  svg {
    font-size: calc(1rem + 1vw);
  }
}

h1.title {
  font-size: calc(1rem + 3vw);
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 0.5rem;
  position: relative;
  width: fit-content;

  span {
    @apply bg-slate-100 p-2 text-center top-1/2 opacity-0;
    @apply shadow-md rounded-bl-full rounded-tr-full rounded-br-full p-4;
    transform: scale(0.1);
    font-size: calc(0.5rem + 1vw);
    position: absolute;
    transition: opacity 0.5s ease, transform 0.15s ease;
    
    b {
      @apply italic;
    }
  }

  &:hover span, &:focus span, &:active span {
    @apply opacity-100 w-max;
    transform: skewX(15deg) scale(1);
  }
}

.nav {
  @apply overflow-x-auto will-change-scroll py-2;
  display: flex;
  gap: 1rem;

  &::-webkit-scrollbar {
    @apply rounded-full h-3;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-full border border-solid border-stone-500;
  }
  &::-webkit-scrollbar-track {
    @apply bg-stone-400 rounded-full;
  }

  h2.card {
    @apply rounded-lg px-3 py-1 cursor-pointer;
    border: 1.5px solid whitesmoke;
    transition: color 0.15s ease, border-color 0.15s ease;
    font-size: calc(0.5rem + 1.75vw);
    font-weight: 400;

    &:hover, &:focus, &:active {
      color: #2563eb;
      border-color: #0070f3;
    }
  }
}

.footer {
  @apply py-4 col-span-full;
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  justify-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
}

@keyframes ShineBtn {
  0% {
    opacity: 1;
  }
  
  75% {
    opacity: 0.1;
  }
}

@keyframes ShineSpan {
  0% {
    opacity: 0.1;
  }
  
  45% {
    opacity: 1;
  }
}

// .code {
//   background: #fafafa;
//   border-radius: 5px;
//   padding: 0.75rem;
//   font-size: 1.1rem;
//   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
//     Bitstream Vera Sans Mono, Courier New, monospace;
// }