.container {
  @apply grid-cols-1 md:grid-cols-[23%_73%];
  @apply px-6 gap-2 content-between justify-between lg:gap-0 md:px-[2%];
  display: grid;
  min-height: 100vh;
}

.main {
  @apply p-6 md:p-12 md:col-start-2;
  @apply bg-stone-200 rounded;
  flex: 1;
  display: flex;
  flex-direction: column;
}

h1.title {
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  font-size: calc(1rem + 3vw);
  font-weight: 400;
}

.nav {
  @apply overflow-x-auto will-change-scroll py-2;
  display: flex;
  gap: 0.75rem;

  &::-webkit-scrollbar {
    @apply rounded-full h-3;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-full border border-solid border-stone-500;
  }
  &::-webkit-scrollbar-track {
    @apply bg-stone-400 rounded-full;
  }

  .card {
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: 1.5px solid whitesmoke;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    h2 {
      font-size: calc(0.5rem + 1.75vw);
      font-weight: 400;
    }

    &:hover, &:focus, &:active {
      color: #2563eb;
      border-color: #0070f3;
    }
  }
}

.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem 0;
  width: 100vw;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
}

// .code {
//   background: #fafafa;
//   border-radius: 5px;
//   padding: 0.75rem;
//   font-size: 1.1rem;
//   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
//     Bitstream Vera Sans Mono, Courier New, monospace;
// }