.tooltip {
  @apply absolute z-50 rounded-lg bg-placeholder/80 shadow-md shadow-ring/50 dark:shadow-ring/20 transition-all;
  @apply py-3 px-6 w-max max-w-48;
  @apply select-none text-left align-middle text-xs font-bold text-text;
  @apply hover:shadow-lg hover:shadow-gray-900/20 focus:shadow-none;
  @apply disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none;

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease;
  left: 50%;
  transform: translate(-50%);
}

.tooltip-trigger {
  @apply whitespace-normal break-words rounded-lg font-sans text-sm font-normal focus:outline-none;
}

.tooltip-trigger:hover + .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-container {
  position: relative;
}

.base-button {
  @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors;
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 hover:cursor-pointer;
  @apply [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0;
  @apply disabled:pointer-events-none disabled:opacity-50;
}

.proj-button {
  @apply py-1 h-auto text-text/80 border border-background hover:border-placeholder;
}

.base-badge {
  @apply inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors;
  @apply focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2;
}

.search-input {
  @apply flex rounded-md border border-border bg-foreground/5 ring-offset-background;
  @apply w-8 md:w-full focus:w-full pl-10 py-1 md:py-2 transition-all;
  @apply placeholder:text-placeholder md:text-sm;
  @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.modal {
  @apply fixed grid place-items-center;
  @apply inset-0 z-[999] h-screen w-screen bg-background/60 backdrop-blur-md transition-all duration-200;
}
