@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #edededed;
  --foreground: #171717;

  --color-primary: #0d9488; /* teal-600 */
  --color-primary-hover: #0f766e;

  --color-secondary: #3b82f6; /* blue-500 */
  --color-secondary-hover: #2563eb;

  --color-accent: #10b981; /* green-500 */
  --color-accent-hover: #059669;

  --color-muted: #f3f4f6; /* gray-100 */
  --color-border: #cfd4dd; /* gray-200 */
  --color-ring: #cbd5e1; /* gray-300 */

  --color-text: #111827; /* gray-900 */
  --color-subtle-text: #6b7280; /* gray-500 */
  --color-placeholder: #9ca3af; /* gray-400 */
  --color-danger: #ef4444; /* red-500 */
  --color-warning: #f59e0b; /* yellow-500 */
  --color-success: #22c55e; /* green-500 */
  --color-info: #3b82f6; /* blue-500 */
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --color-primary: #5eead4; /* teal-300 */
  --color-primary-hover: #2dd4bf;

  --color-secondary: #60a5fa; /* blue-400 */
  --color-secondary-hover: #3b82f6;

  --color-accent: #34d399; /* green-400 */
  --color-accent-hover: #10b981;

  --color-muted: #1f2937; /* gray-800 */
  --color-border: #374151; /* gray-700 */
  --color-ring: #4b5563; /* gray-600 */

  --color-text: #f3f4f6; /* gray-100 */
  --color-subtle-text: #9ca3af; /* gray-400 */
  --color-placeholder: #6b7280; /* gray-500 */
  --color-danger: #f87171; /* red-400 */
  --color-warning: #fbbf24; /* yellow-400 */
  --color-success: #4ade80; /* green-400 */
  --color-info: #60a5fa; /* blue-400 */
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);

  --color-accent: var(--color-accent);
  --color-accent-hover: var(--color-accent-hover);

  --color-muted: var(--color-muted);
  --color-border: var(--color-border);
  --color-ring: var(--color-ring);

  --color-text: var(--color-text);
  --color-subtle-text: var(--color-subtle-text);
  --color-placeholder: var(--color-placeholder);

  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);
  --color-success: var(--color-success);
  --color-info: var(--color-info);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.dark-mode-btn {
  @apply rounded-full border border-solid border-border relative;
  @apply transition-colors bg-foreground/50 hover:bg-foreground/80 hover:border-transparent;
  @apply flex items-center justify-center px-4 py-1;
}
